/* skills section styling */

.max-width {
  max-width: 1300px;
  padding: 0 20px;
  margin: auto;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.skills
{
  box-shadow: rgba(56, 54, 54, 0.2) 0px 0px 8px 0px;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  padding-top: 70px;
}

.skills .title::after {
  content: "What i know";
}

.skills-images
{
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px,
    rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    display: grid;
    border-radius: 5%;
    width:220px;
    height: 180px;
    padding-top: 10px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    transition: transform .2s
}

.skills-images:hover
{
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: color 0.3s ease;
  transform: scale(1.05);
  transition: all 0.3s ease;
  cursor: pointer;
}

.skills-images img {
  height: 120px;
  width: 130px;
}
.skills .skills-content .column {
  width: calc(100%);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.skills-images .text {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
}


.column {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 items per row */
  gap: 20px;                             /* spacing between items */
  justify-items: center;                 /* center each skill */
}

.skills-content {
  text-align: center;
}

